extends layout

block content
     h1 hola si funciona 

	each t in totalesVm  "no envia los datos de totalesVm"
		div 
			h2 Jugadas #{t.jugada}
		div 
			h2 Jugadas #{t.partida}
		div 
			h2 Jugadas #{t.pregunta}
		div 
			h2 Jugadas #{t.jugador}

   


      