extends layout

block content
  
  div(class="row")
        div(class="col-md-12") &nbsp;
        div(class="col-md-12")               
            a(class="btn btn-default btn-primary btn-block ", href="/partida/listado")
                i(class="fa fa-list-uk") 
                span &nbsp; Partidas
            a(class="btn btn-default btn-success btn-block ", href="/partida/crear") 
                i(class="fa fa-plus") 
                span &nbsp; Nueva partida