extends layout

block content
  h1 Crear partida
  script.
          elemUbicacion = window.document.getElementById('ubicacionTexto');  
          function getLocation() {
              if (navigator.geolocation) {
                console.log('showPosition...')
                navigator.geolocation.getCurrentPosition(showPosition);
              } 
              else {
                elemUbicacion.innerHTML = "Geolocation is not supported by this browser.";
              }
          }
          function showPosition(position) {
            console.log('showPosition...')
            var elem = window.document.getElementById('ubicacionTexto');  
            console.log(elem)
            var latLog = "Lat: " + position.coords.latitude + "Log: " + position.coords.longitude;
            console.log(elem)
            elem.innerHTML = latLog
          }
          

  form(name='formCrear', action='/partida/crear', method='post')
        .form-group
        input#nombre.form-control(type='text', name='descripcion', placeholder='descripcion')
        br
        span(id="ubicacionTexto")  LatLog...  
        br
        input#ubicacion.form-control(type='text', name='ubicacion', placeholder='Ubicacion', value='')
        br
        button.btn.btn-default.btn-lg(type='button', onclick='getLocation()') Obtener Ubicacion

        br
        button.btn.btn-primary.btn-lg(type='submit') Guardar
  