extends layout

block content
      h1 Partidas #{partidas.lenght}
      
      div(class="")
        span #{mensaje}
  
      each p in partidas
          form(action='/partida/#{p.id}', method='get')
            div
              button.btn.btn-primary(type="submit") #{p.descripcion}
              
            br
      br
      br      
      a(class="btn btn-default btn-success btn-block ", href="/partida/crear") 
        i(class="fa fa-plus") 
        span &nbsp; Nueva partida