extends layout

block content
     h1 La partida ha sido eliminada...

     a(class="btn btn-default btn-primary btn-block ", href="/partida/listado")
                i(class="fa fa-list-uk") 
                span &nbsp; Volver al listado de partidas
     