extends layout

block content
  h1 Partida creada Correctamente
  p &nbsp;
  h2 #{partida.descripcion}

  p &nbsp;

   div(class="col-md-12")               
        a(class="btn btn-default btn-primary btn-block ", href="/main")
            i(class="fa fa-list-uk") 
            span &nbsp; Volver al principal
        p &nbsp;
             
           

  