extends layout

block content
      h1 Preguntas totales: #{preguntas.length}
      
      div(class="")
        span #{mensaje}
  
      each p in preguntas
          form(action='/preguntas/#{p.id}', method='get')
            div
              button.btn.btn-primary(type="submit") #{p.descripcion}
              
            br
      br
      br      
     