extends layout

block content
  h1 Se ha creado la pregunta satisfactoriamente
  p &nbsp;
  strong Pregunta
  h2 #{pregunta.descripcion}

  p &nbsp;

   div(class="col-md-12")               
        a(class="btn btn-default btn-primary btn-block ", href="/main")
            i(class="fa fa-list-uk") 
            span &nbsp; Volver al principal
        p &nbsp;
  

  