extends layout

block content
      h1 Preguntas totales: #{preguntas.length}
      

      div(class="")
        span #{mensaje}
  
      each p in preguntas
         div
          form(action='', method='get')
              div
              button.btn.btn-primary(type="submit") #{p.descripcion}

          form(action='/pregunta/eliminar/#{p.id}', method='post')
              button.btn.btn-danger(type="submit") Eliminar
              br
              br
      br
     