nav(class="navbar navbar-inverse navbar-fixed-top quizgame-nav")
    if(autenticado)
        div(class="usuario float-right", style="float:right;")
            a(href="#",title="#{usuario.nombreCompleto}")
                img(class="img-responsive usuario-imagen",src="#{usuario.imagenUrl}", alt="#{usuario.nombreCompleto}")
            div(class="usuario-menu")
                ul
                    li
                        a(href="/perfil")
                            i(class="fa fa-user") &nbsp; 
                            span Mi perfil
                    li
                        a(href="/logoff")
                            i(class="fa fa-sign-out") &nbsp; 
                            span Salir
                 

    div(class="navbar-header")
        
        button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
            span(class="sr-only") Toggle navigation
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
        a(class="navbar-brand", href="/")
            img(class="navbar-brand", src="/imagenes/QuizGame-Logo.png")

    div(id="navbar",class="collapse navbar-collapse")
        ul(class="nav navbar-nav")
            li(class="active")
                a(href="/main") Principal
            li
                a(href="/partida/listado") Partidas
            li
                a(href="/partida/crear") Crear partida
            li
                a(href="/info/acercaDe") Acerca de
            li
                a(href="/info/contacto") Contacto
            if(autenticado)
                li
                    a(href="/perfil")
                        i(class="fa fa-user") &nbsp; 
                        span Mi perfil
                li
                    a(href="/logoff")
                        i(class="fa fa-sign-out") &nbsp; 
                        span Salir

    